* {
  box-sizing: border-box;
}

:root {
  --time: cubic-bezier(0.4, 0, 0.2, 1);
  --cudic: 250ms;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
